.listItemWrapper {
    display: flex;
    height: 40px;
    padding: 4px 8px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    
}

.listItemSideWrapper {
    display: flex;
    gap: 8px;
}

.itemIcon {
    cursor: pointer;
}